# --- SEGURIDAD (¡Nunca subir credenciales!) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
*.cert

# --- DEPENDENCIAS DE DESARROLLO (Se descargan localmente) ---
# Node / React / React Native
node_modules/
jspm_packages/
.pnp
.pnp.js

# Python (Si usan entornos virtuales)
venv/
.venv/
env/
__pycache__/
*.pyc

# --- ARCHIVOS DEL SISTEMA OPERATIVO (Basura visual) ---
.DS_Store
Thumbs.db
Desktop.ini

# --- LOGS Y REPORTE DE ERRORES ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# --- CARPETAS DE COMPILACIÓN (Se generan solas al correr el código) ---
/dist
/build
/out
.next/
